<%= image_tag("willowmap_white.png", :alt => "Logo", :class => "header_image", :style => "margin-left: auto; margin-right: auto;") %>
</br>

<h4>Welcome to WillowMap</h4>
<span>WillowMap is your Residence Journal</span></br>
<span>click the start button to begin mapping "</span><span style="color: white">W</span><span>here <span style="color: white">I</span><span style="color: white"> L</span><span>ived"</span><span style="color: white">low</span>



</br>


