<%= image_tag("willowmap_black.png", :alt => "Logo", :class => "header_image", :style => "margin-left: auto; margin-right: auto;") %>
</br>

<h4>Welcome to WillowMap</h4>
<span>WillowMap is your Residence Journal</span></br>
<span>Click the 'Add Location' button to add your first address to begin mapping your "</span><span style="font-weight: bold">W</span><span>here <span style="font-weight: bold">I</span><span style="font-weight: bold"> L</span><span>ived"</span><span style="font-weight: bold">low</span>
</br>
<span>Please enter your addresses in the following format: Street, City, St, Zipcode</span>
</br>
</br>


 
<script type="text/javascript">
 
$(document).ready(function(){
 
    var counter = 1;
 
    $("#addButton").click(function () {
 
	if(counter>5){
            alert("WillowMap can only handle 35 locations at a time.  You must have moved a ton growning up!");
            return false;
	}   
 
	var newTextBoxDiv = $(document.createElement('div'))
	     .attr("id", 'TextBoxDiv' + counter);
 
	newTextBoxDiv.after().html('<label>Location #'+ counter + ' : </label>' +
	      '<input type="text" name="textbox' + counter + 
	      '" id="textbox' + counter + '" value="" >');
 
	newTextBoxDiv.appendTo("#TextBoxesGroup");
 
 
	counter++;
     });
 
     $("#removeButton").click(function () {
	if(counter==1){
          return false;
       }   
 
	counter--;
 
        $("#TextBoxDiv" + counter).remove();
 
     });
 
     $("#getButtonValue").click(function () {
 
	var msg = '';
	for(i=1; i<counter; i++){
   	  msg += "\n Textbox #" + i + " : " + $('#textbox' + i).val();
	}
    	  alert(msg);
     });
  });
</script>
</head><body>
 
<div id='TextBoxesGroup'>
	<div id="TextBoxDiv1">
		
	</div>
</div>
<input type='button' value='Add Location' id='addButton'>
<input type='button' value='Remove Location' id='removeButton'>
<input type='button' value='Get TextBox Value' id='getButtonValue'>
 
</body>
</html>